APP_NAME=ProspectAI
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

# A mesma chave deve ter as APIs Places e Geocoding habilitadas.
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACES_BASE_URL=https://places.googleapis.com
GOOGLE_PLACES_TIMEOUT_SECONDS=5
GOOGLE_GEOCODING_BASE_URL=https://maps.googleapis.com
GOOGLE_GEOCODING_TIMEOUT_SECONDS=5
VIACEP_BASE_URL=https://viacep.com.br
VIACEP_TIMEOUT_SECONDS=5
